.blncValue {
  text-align: right;
}

.blncTotal {
  vertical-align: top;
  font-weight: bold;
}

.blncSeparator {
  width: 2px;
  border-left: 1px solid #dfe1e5;
  height: 24px;
  margin: 0 7px;
}

.blncSeparatorTl {
  height: 36px;
}

.blncVerSeparator {
  height: 12px;
}

.grayedText {
  color: #939ba6;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                not supported by any browser */
}
