.btn {
    background: white;
    border-radius: 100px;
    border: solid 1px #cfd2d7;
    color: #3f4d60;
}

.btn-landing {
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, #ff9100, #ff0029 51%, #ab00ff);
    color: #ffffff;
}

    .btn-landing:hover, .btn-landing:focus {
        background-image: linear-gradient(to left, #ff9100, #ff0029 51%, #ab00ff);
        color: #ffffff;
    }

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:hover:active:focus, .btn-primary:focus:active {
    background-color: #ff3e2e;
    border: 100px none;
    color: #ffffff;
}

.btn-modal, .btn-modal:hover, .btn-modal:focus {
    background-color: #ff3e2e;
    border: none;
    color: #ffffff;
    width: 360px;
    height: 64px;
}

.btn-sell, .btn-sell:hover {
    border: none;
    background-color: #ff3e2e;
}

.btn-buy, .btn-buy:hover {
    border: none;
    background-color: #13b72a;
}

.btn-trade {
    width: 80px;
}
