.popover ul {
    list-style-type: circle;
    padding-left: 20px;
    margin-bottom: 0;
}

    .popover ul li {
        line-height: 1.7;
    }

        .popover ul li a {
            color: #3f4d60;
            text-decoration: none;
        }

            .popover ul li a:hover, .popover ul li a:focus {
                color: #ab00ff;
            }
