body {
    background: #fefefe;
}

.popover {
    border-radius: 0;
    max-width: 600px;
}

.form-control {
    box-shadow: none;
}

.blncValue {
    text-align: right;
}

.blncTotal {
    vertical-align: top;
    font-weight: bold;
}

.blncSeparator {
    width: 2px;
    border-left: 1px solid #dfe1e5;
    height: 24px;
    margin: 0 7px;
}

.blncSeparatorTl {
    height: 36px;
}

.blncVerSeparator {
    height: 12px;
}

.grayedText {
    color: #939ba6;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.med-icon {
    height: 24px;
}

.dropMenuSeparator {
    width: 2px;
    border-left: 1px solid #dfe1e5;
    height: 24px;
    margin: 0 7px;
}

.dropDownMenuItem {
    cursor: pointer;
}

    .dropDownMenuItem:hover {
        color: #ab00ff;
    }

.btn {
    background: white;
    border-radius: 100px;
    border: solid 1px #cfd2d7;
    color: #3f4d60;
}

.btn-landing {
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, #ff9100, #ff0029 51%, #ab00ff);
    color: #ffffff;
}

    .btn-landing:hover, .btn-landing:focus {
        background-image: linear-gradient(to left, #ff9100, #ff0029 51%, #ab00ff);
        color: #ffffff;
    }

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:hover:active:focus, .btn-primary:focus:active {
    background-color: #ff3e2e;
    border: 100px none;
    color: #ffffff;
}

.btn-modal, .btn-modal:hover, .btn-modal:focus {
    background-color: #ff3e2e;
    border: none;
    color: #ffffff;
    width: 360px;
    height: 64px;
}

.btn-sell, .btn-sell:hover {
    border: none;
    background-color: #ff3e2e;
}

.btn-buy, .btn-buy:hover {
    border: none;
    background-color: #13b72a;
}

.btn-trade {
    width: 80px;
}

.modal-dialog {
    background: white;
    border-radius: 4px;
    width: 424px;
}

.modal-header, .modal-footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
}

.modal-header {
    border-bottom: none;
    padding: 0;
    padding-top: 25px;
}

.modal-title {
    font-size: 24px;
}

.modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.modal-content .tab-pane {
    padding: 0;
    margin-top: 10px;
}

.modal-content .nav-tabs li a {
    border: none;
    color: #b2b8bf;
}

.modal-content .nav-tabs li.active a {
    color: #3f4d60;
}

.modal-content .direction .nav-tabs li a {
    font-size: 11px;
    text-align: left;
    padding: 0 3px;
}

.modal-content .direction .nav-tabs li:last-child a {
    text-align: right;
}

.modal-content .nav-tabs li.active, .nav-tabs .active {
    border: none;
    border-bottom: 2px solid #AB00FF;
}

.modal-content .direction .nav-tabs li.active, .modal-content .direction .nav-tabs .active {
    border: none;
    border-bottom: none;
}

.direction .tab-content .tab-pane {
    margin-top: 0;
    color: #b2b8bf;
}

.direction .tab-content .tab-pane {
    border: none;
    border-bottom: 1px solid #d8d8d8;
}

.direction .tab-content .tab-pane.active {
    border-bottom: 2px solid #AB00FF;
    color: #3f4d60;
}

.direction .tab-content .tab-pane h4 {
    font-size: 24px;
    margin: 10px 0;
    margin-top: 6px;
}

.modal-content .nav li a:hover, .modal-content .nav li a:focus, .modal-content .nav li a.active:hover, .modal-content .nav li a.active:focus {
    background: #ffffff;
    border: none;
}

.modal-content .nav-tabs.nav-justified > .active > a {
    border: none;
}

.modal-content form, .modal-content .order-type {
    margin-top: 16px;
}

.modal-content form label {
    font-weight: normal;
}

.modal-content form label.control-label {
    text-align: left;
}

.order-type .nav-tabs li {
    /*height: 48px;*/
    text-align: center;
    /*width: 96px;*/
}

.modal-footer {
    padding-bottom: 24px;
    font-size: 24px;
}

.table {
    margin-bottom: 0;
}

.table th {
    font-weight: normal;
    text-align: left;
}

.table th:first-child, .table tn:nth-child(2) {
    text-align: left;
}

.table-trades > thead > tr > th {
    border-bottom: 1px solid #cfd2d7;
}

.table-trades > thead > tr > td {
    border-bottom: 1px solid #f5f6f7;
}

.popover ul {
    list-style-type: circle;
    padding-left: 20px;
    margin-bottom: 0;
}

    .popover ul li {
        line-height: 1.7;
    }

        .popover ul li a {
            color: #3f4d60;
            text-decoration: none;
        }

            .popover ul li a:hover, .popover ul li a:focus {
                color: #ab00ff;
            }

hr {
    margin: 10px;
}

.caret {
    color: #ccc;
}

.text-green {
    color: #13b72a;
}

.text-red {
    color: #ff3e2e;
}

.order-book__item {
    padding: 10px;
}

.order-book__price {

}

.order-book__asset {
    font-weight: bold;
}

.order-book__price-buy {
    color: #13b72a;
}

.order-book__price-sell {
    color: #ff3e2e;
}
