.instruments {
  margin-bottom: 0;
}

.instrument__heading {
  border-bottom: 1px solid #cfd2d7;
  font-weight: normal;
  text-align: center;
}

.instrument__cell_left-aligned {
  text-align: left!important;
}

.instrument__data {
  border-bottom: 1px solid #f5f6f7;
  text-align: center;
}

.instrument_up {
  color: #13b72a;
}

.instrument_down {
  color: #ff3e2e;
}
