.positions-table__th {
  border-bottom: 1px solid #cfd2d7;
  font-weight: normal;
  text-align: center;
}

.positions-table__th_left-aligned, .positions-table__td_left-aligned {
  text-align: left!important;
}

.positions-table__td {
  border-bottom: 1px solid #f5f6f7;
  text-align: center;
}

.position_up {
  color: #13b72a;
}

.position_down {
  color: #ff3e2e;
}
