.container-fluid {
  margin: 0 !important;
}

.col-sm-6, .col-sm-12 {
    padding: 0 !important;
    border-right: solid 1px #cfd2d7;
    border-bottom: solid 1px #cfd2d7;
    height: 100%;
    overflow: scroll;
}

.tab-pane {
    padding: 10px;
}

    .tab-pane .item {
        padding: 20px 50px;
        display: inline-block;
        border: 1px solid rgba(0,0,0,0);
        cursor: pointer;
        border-radius: 3px;
    }

        .tab-pane .item:hover {
            border: 1px solid #DFE1E5;
        }

        .tab-pane .item a {
            color: #333;
            text-decoration: none;
        }

        .tab-pane .item .icon {
            width: 48px;
        }

        .tab-pane .item .caption {
            margin-top: 20px;
        }

.homeTabs {
    height: 32px;
    background: #F7F8F9;
    border-bottom: 1px solid #DFE1E5;
    color: #9ba1aa;
    float: left;
    width: 100%;
    padding: 0;
}

    .homeTabs .item {
        display: inline-block;
        line-height: 26px;
        cursor: pointer;
    }

    .homeTabs .mnu {
        width: 32px;
        text-align: center;
        cursor: pointer;
    }

    .homeTabs .closeIcon {
        font-size: 9px;
        color: lightgray;
    }

        .homeTabs .closeIcon:hover {
            color: gray;
        }

    .homeTabs .tab {
        border-right: 1px solid #DFE1E5;
    }

    .homeTabs .ReactTabs__Tab--selected {
        background: white;
        position: relative;
        height: 32px;
    }

    .homeTabs .caption {
        padding: 0 20px;
        width: 100%;
    }

    .homeTabs .ReactTabs__Tab--selected .caption {
        border-top: 2px solid #AB00FF;
        color: #3F4D60;
    }

    .homeTabs .addTab:hover {
        color: gray;
    }
