body {
  background: #fefefe;
}

.mnuWrapper {
    padding: 5px;
    border-bottom: 1px solid #DFE1E5;
}

    .mnuWrapper .mnuSeparator {
        height: 60px;
        width: 2px;
        border-left: 1px solid #DFE1E5;
    }

    .mnuWrapper .mnuIcon {
        height: 20px;
    }

.mnuTable {
    width: 100%;
    text-align: center;
}

    .mnuTable .mnuItem {
        cursor: pointer;
    }

        .mnuTable .mnuItem:hover {
            color: #ab00ff;
        }

.avatar {
    width: 50px;
    margin: 5px;
    cursor: pointer;
}

.mnuDropDown {
    font-size: 8px;
}
