.orders-table {
  margin: 0;
}

.orders-table__heading {
  border-bottom: 1px solid #cfd2d7;
  font-weight: normal;
  text-align: center;
}

.orders-table__cell_left-aligned {
  text-align: left!important;
}

.orders-table__data {
  border-bottom: 1px solid #f5f6f7;
  text-align: center;
}

.order_up {
  color: #13b72a;
}

.order_down {
  color: #ff3e2e;
}
