.modal-content .tab-pane {
    padding: 0;
    margin-top: 10px;
}

.modal-content .nav-tabs li a {
    border: none;
    color: #b2b8bf;
}

.modal-content .nav-tabs li.active a {
    color: #3f4d60;
}

.modal-content .direction .nav-tabs li a {
    font-size: 11px;
    text-align: left;
    padding: 0 3px;
}

.modal-content .direction .nav-tabs li:last-child a {
    text-align: right;
}

.modal-content .nav-tabs li.active, .nav-tabs .active {
    border: none;
    border-bottom: 2px solid #AB00FF;
}

.modal-content .direction .nav-tabs li.active, .modal-content .direction .nav-tabs .active {
    border: none;
    border-bottom: none;
}

.direction .tab-content .tab-pane {
    margin-top: 0;
    color: #b2b8bf;
}

.direction .tab-content .tab-pane {
    border: none;
    border-bottom: 1px solid #d8d8d8;
}

.direction .tab-content .tab-pane.active {
    border-bottom: 2px solid #AB00FF;
    color: #3f4d60;
}

.direction .tab-content .tab-pane h4 {
    font-size: 24px;
    margin: 10px 0;
    margin-top: 6px;
}

.modal-content .nav li a:hover, .modal-content .nav li a:focus, .modal-content .nav li a.active:hover, .modal-content .nav li a.active:focus {
    background: #ffffff;
    border: none;
}

.modal-content .nav-tabs.nav-justified > .active > a {
    border: none;
}

.modal-content form, .modal-content .order-type {
    margin-top: 16px;
}

.modal-content form label {
    font-weight: normal;
}

.modal-content form label.control-label {
    text-align: left;
}

.order-type .nav-tabs li {
    /*height: 48px;*/
    text-align: center;
    /*width: 96px;*/
}

.direction .col-sm-6 {
  border: none;
}

.modal-footer {
    padding-bottom: 24px;
    font-size: 24px;
}

.direction-tabs__sell-tab {
  text-align: right;
}

.modal-footer {
  text-align: center;
}
