.order-book__item {
  padding: 10px;
}

.order-book__asset {
  font-weight: bold;
}

.order-book__position_buy {
  color: #13b72a;
}

.order-book__position_sell {
  color: #ff3e2e;
}

.order-book__cell {
  padding: 5px;
  text-align: center;
}
